<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsplan.drp.pl.ctgopt.PlanCtgOptMapper">

	<!-- 검색 조건 -->
	<sql id="planCtgOptSearch">
		<if test="rtneCtgCd != null and rtneCtgCd != ''">
			AND UPPER_RTNE_CTG_CD = #{rtneCtgCd}
		</if>
		<if test="rtneCtgCd == null or rtneCtgCd == ''">
			AND UPPER_RTNE_CTG_CD IS NULL
		</if>
		<if test="userId != null and userId != ''">
			AND PLAN_USER = #{userId}
		</if>
		<if test="useYn != null and useYn != ''">
			AND USE_YN = #{useYn}
		</if>
	</sql>

	<!-- 분류 옵션 목록 -->
	<select id="selectPlanCtgOptList" resultType="planCtgOptVO">
		WITH S
				 AS (SELECT P.RTNE_CTG_CD,
										P.UPPER_RTNE_CTG_CD,
										P.RTNE_CTG_NM,
										( LEN(P.RTNE_CTG_CD) - 1 ) / 2 RTNE_CTG_LV,
										P.WT_VAL,
										P.RECG_MIN_TIME,
										P.RECG_MAX_TIME,
										Q.RTNE_START_DATE,
										Q.RTNE_END_DATE,
										P.USE_YN,
										P.PLAN_USER
						 FROM   (SELECT *
										 FROM   PL_RTNE_CTG) P
										LEFT OUTER JOIN (SELECT RTNE_CTG_CD,
																			MIN(RTNE_DATE) RTNE_START_DATE,
																			MAX(RTNE_DATE) RTNE_END_DATE,
																			PLAN_USER
															 FROM   PL_RTNE
															 GROUP  BY RTNE_CTG_CD,
																				 PLAN_USER) Q
													 ON P.RTNE_CTG_CD = Q.RTNE_CTG_CD
															AND P.PLAN_USER = Q.PLAN_USER)
		SELECT RTNE_CTG_CD                       rtneCtgCd,
					 RTNE_CTG_NM                       rtneCtgNm,
					 WT_VAL                            wtVal,
					 CONVERT(VARCHAR, RECG_MIN_TIME) + ' ~ '
					 + CONVERT(VARCHAR, RECG_MAX_TIME) recgMinTime,
					 CONVERT(VARCHAR, RTNE_START_DATE) + ' ~ '
					 + CONVERT(VARCHAR, RTNE_END_DATE) rtneStartDate,
					 CASE
						 WHEN USE_YN = 'Y' THEN '사용'
						 WHEN USE_YN = 'N' THEN '미사용'
					 END                               useYn,
					 PLAN_USER                         planUser,
					 CASE
						 WHEN RTNE_CTG_CD IN (SELECT DISTINCT UPPER_RTNE_CTG_CD
																	FROM   S
																	WHERE  S.PLAN_USER = T.PLAN_USER
																				 AND S.RTNE_CTG_LV = T.RTNE_CTG_LV + 1) THEN 'N'
						 ELSE 'Y'
					 END                               lastYn
		FROM   S AS T
		WHERE  1 = 1
			<include refid="planCtgOptSearch" />
		ORDER  BY CASE USE_YN
								WHEN 'Y' THEN 1
								WHEN 'N' THEN 2
							END,
							RTNE_CTG_CD
	</select>

	<!-- 분류 옵션 상세 -->
	<select id="selectPlanCtgOptDetail" resultType="planCtgOptVO">
		SELECT RTNE_CTG_CD                       rtneCtgCd,
					 UPPER_RTNE_CTG_CD                 upperRtneCtgCd,
					 RTNE_CTG_NM                       rtneCtgNm,
					 WT_VAL                            wtVal,
					 RECG_MIN_TIME                     recgMinTime,
					 RECG_MAX_TIME                     recgMaxTime,
					 USE_YN                            useYn,
					 PLAN_USER                         userId,
					 DBO.FN_GET_DRP_USER_NM(PLAN_USER) userNm
		FROM PL_RTNE_CTG
		WHERE RTNE_CTG_CD = #{rtneCtgCd}
			AND PLAN_USER = #{planUser}
	</select>

	<!-- 분류 옵션 등록 -->
	<update id="insertPlanCtgOptData">
		INSERT INTO PL_RTNE_CTG
		            (RTNE_CTG_CD,
		             <if test="upperRtneCtgCd != null and upperRtneCtgCd != ''">
			             UPPER_RTNE_CTG_CD,
		             </if>
		             RTNE_CTG_NM,
		             WT_VAL,
		             RECG_MIN_TIME,
		             RECG_MAX_TIME,
		             USE_YN,
		             PLAN_USER)
		VALUES      (#{rtneCtgCd},
		             <if test="upperRtneCtgCd != null and upperRtneCtgCd != ''">
			             #{upperRtneCtgCd},
		             </if>
		             #{rtneCtgNm},
		             #{wtVal},
		             #{recgMinTime},
		             #{recgMaxTime},
		             #{useYn},
		             #{userId})
	</update>

	<!-- 분류 옵션 수정 -->
	<update id="updatePlanCtgOptData">
		UPDATE PL_RTNE_CTG
		SET RTNE_CTG_NM   = #{rtneCtgNm},
				WT_VAL        = #{wtVal},
				RECG_MIN_TIME = #{recgMinTime},
				RECG_MAX_TIME = #{recgMaxTime},
				USE_YN        = #{useYn}
		WHERE RTNE_CTG_CD = #{rtneCtgCd}
			AND PLAN_USER = #{userId}
	</update>

	<!-- 적용 일과 수 -->
	<select id="selectPlanReportListCnt" resultType="int">
		SELECT COUNT(*)
		FROM PL_RTNE
		WHERE RTNE_CTG_CD = #{rtneCtgCd}
			AND PLAN_USER = #{userId}
	</select>

	<!-- 분류 옵션 삭제 -->
	<delete id="deletePlanCtgOptData">
		DELETE FROM PL_RTNE_CTG
		WHERE RTNE_CTG_CD = #{rtneCtgCd}
			AND PLAN_USER = #{userId}
	</delete>

	<!-- 분류 옵션 엑셀 목록 -->
	<select id="selectPlanCtgOptExcelList" resultType="planCtgOptVO">
		SELECT ROW_NUMBER() OVER(
							 ORDER BY CASE P.USE_YN WHEN 'Y' THEN 1 WHEN 'N' THEN 2 END,
						 P.RTNE_CTG_CD) rn,
					 P.RTNE_CTG_CD                       rtneCtgCd,
					 P.RTNE_CTG_NM                       rtneCtgNm,
					 P.WT_VAL                            wtVal,
					 CONVERT(VARCHAR, P.RECG_MIN_TIME) + ' ~ '
					 + CONVERT(VARCHAR, P.RECG_MAX_TIME) recgMinTime,
					 CONVERT(VARCHAR, Q.RTNE_START_DATE) + ' ~ '
					 + CONVERT(VARCHAR, Q.RTNE_END_DATE) rtneStartDate,
					 CASE
						 WHEN P.USE_YN = 'Y' THEN '사용'
						 WHEN P.USE_YN = 'N' THEN '미사용'
					 END                                 useYn,
					 P.PLAN_USER                         planUser
		FROM   (SELECT *
						FROM   PL_RTNE_CTG) P
					 LEFT OUTER JOIN (SELECT RTNE_CTG_CD,
																	 MIN(RTNE_DATE) RTNE_START_DATE,
																	 MAX(RTNE_DATE) RTNE_END_DATE,
																	 PLAN_USER
														FROM   PL_RTNE
														GROUP  BY RTNE_CTG_CD,
																			PLAN_USER) Q
												ON P.RTNE_CTG_CD = Q.RTNE_CTG_CD
													 AND P.PLAN_USER = Q.PLAN_USER
		WHERE  1 = 1
			<if test="userId != null and userId != ''">
				AND P.PLAN_USER = #{userId}
			</if>
			<if test="useYn != null and useYn != ''">
				AND P.USE_YN = #{useYn}
			</if>
	</select>

</mapper>
